In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csv_path = Path("Resource/123.csv")
df = pd.read_csv(csv_path)
df.head(50)

,REF_DATE,GEO,DGUID,Prices,Seasonal adjustment,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1961-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,37146,NaN,NaN,NaN,0
1,1961-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38476,NaN,NaN,NaN,0
2,1961-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38871,NaN,NaN,NaN,0
3,1961-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38446,NaN,NaN,NaN,0
4,1962-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,39497,NaN,NaN,NaN,0
5,1962-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,39567,NaN,NaN,NaN,0
6,1962-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,39598,NaN,NaN,NaN,0
7,1962-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,39992,NaN,NaN,NaN,0
8,1963-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,40154,NaN,NaN,NaN,0
9,1963-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,40526,NaN,NaN,NaN,0
10,1963-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,40680,NaN,NaN,NaN,0
11,1963-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,40943,NaN,NaN,NaN,0
12,1964-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,41716,NaN,NaN,NaN,0
13,1964-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,41886,NaN,NaN,NaN,0
14,1964-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,42188,NaN,NaN,NaN,0
15,1964-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,42737,NaN,NaN,NaN,0
16,1965-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,42528,NaN,NaN,NaN,0
17,1965-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,42714,NaN,NaN,NaN,0
18,1965-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,43340,NaN,NaN,NaN,0
19,1965-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,44322,NaN,NaN,NaN,0
20,1966-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,42822,NaN,NaN,NaN,0
21,1966-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,43905,NaN,NaN,NaN,0
22,1966-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,44639,NaN,NaN,NaN,0
23,1966-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,45064,NaN,NaN,NaN,0
24,1967-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,45590,NaN,NaN,NaN,0
25,1967-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46039,NaN,NaN,NaN,0
26,1967-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46248,NaN,NaN,NaN,0
27,1967-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,45567,NaN,NaN,NaN,0
28,1968-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,45884,NaN,NaN,NaN,0
29,1968-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46023,NaN,NaN,NaN,0
30,1968-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46309,NaN,NaN,NaN,0
31,1968-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46062,NaN,NaN,NaN,0
32,1969-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46990,NaN,NaN,NaN,0
33,1969-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,47083,NaN,NaN,NaN,0
34,1969-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,46827,NaN,NaN,NaN,0
35,1969-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,47701,NaN,NaN,NaN,0
36,1970-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,47431,NaN,NaN,NaN,0
37,1970-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,47230,NaN,NaN,NaN,0
38,1970-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,48730,NaN,NaN,NaN,0
39,1970-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,51042,NaN,NaN,NaN,0
40,1971-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,48846,NaN,NaN,NaN,0
41,1971-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,49353,NaN,NaN,NaN,0
42,1971-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,50157,NaN,NaN,NaN,0
43,1971-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,50756,NaN,NaN,NaN,0
44,1972-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,50200,NaN,NaN,NaN,0
45,1972-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,51554,NaN,NaN,NaN,0
46,1972-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,50581,NaN,NaN,NaN,0
47,1972-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,50980,NaN,NaN,NaN,0
48,1973-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,51965,NaN,NaN,NaN,0
49,1973-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,52406,NaN,NaN,NaN,0

In [3]:
# Assume df is your DataFrame and 'date' is your column with dates
df['REF_DATE'] = pd.to_datetime(df['REF_DATE'], format='%Y-%m')

# Set 'date' as index if it's not yet
df.set_index('REF_DATE', inplace=True)

# Resample to yearly data, taking the mean of each year
df_yearly = df.resample('Y').mean()


df_yearly

C:\Users\Randg\AppData\Local\Temp\ipykernel_14844\2952654253.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_yearly = df.resample('Y').mean()

,UOM_ID,SCALAR_ID,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
REF_DATE,,,,,,,
1961-12-31,81.0,6.0,26069.516667,NaN,NaN,NaN,0.0
1962-12-31,81.0,6.0,27302.000000,NaN,NaN,NaN,0.0
1963-12-31,81.0,6.0,28406.616667,NaN,NaN,NaN,0.0
1964-12-31,81.0,6.0,29896.500000,NaN,NaN,NaN,0.0
1965-12-31,81.0,6.0,31567.600000,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...
2019-12-31,81.0,6.0,158105.783333,NaN,NaN,NaN,0.0
2020-12-31,81.0,6.0,148333.283333,NaN,NaN,NaN,0.0
2021-12-31,81.0,6.0,156077.183333,NaN,NaN,NaN,0.0
2022-12-31,81.0,6.0,163447.800000,NaN,NaN,NaN,0.0
2023-12-31,81.0,6.0,166945.933333,NaN,NaN,NaN,0.0

In [4]:
clean_df = df_yearly[["VALUE"]]

clean_df

                    VALUE
REF_DATE
1961-12-31   26069.516667
1962-12-31   27302.000000
1963-12-31   28406.616667
1964-12-31   29896.500000
1965-12-31   31567.600000
...                   ...
2019-12-31  158105.783333
2020-12-31  148333.283333
2021-12-31  156077.183333
2022-12-31  163447.800000
2023-12-31  166945.933333

[63 rows x 1 columns]

SyntaxError: invalid syntax (3121196849.py, line 1)