In [7]:
import pandas as pd
from pathlib import Path

In [8]:
csv_path = Path("Resource/123.csv")
df = pd.read_csv(csv_path)
df.head()

,REF_DATE,GEO,DGUID,Prices,Seasonal adjustment,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1961-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,37146,NaN,NaN,NaN,0
1,1961-04,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38476,NaN,NaN,NaN,0
2,1961-07,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38871,NaN,NaN,NaN,0
3,1961-10,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,38446,NaN,NaN,NaN,0
4,1962-01,Canada,2016A000011124,Chained (2012) dollars,Seasonally adjusted at annual rates,Food and non-alcoholic beverages [C11],Dollars,81,millions,6,v61988958,1.1.1.1,39497,NaN,NaN,NaN,0

In [3]:
# # Assume df is your DataFrame and 'date' is your column with dates
# df['REF_DATE'] = pd.to_datetime(df['REF_DATE'], format='%Y-%m')
# df

In [4]:
# df.set_index('REF_DATE', inplace=True)

In [5]:
# group_df = df.groupby(['REF_DATE', 'Estimates', "VALUE"])

# group_df.head()

In [12]:
# Assume df is your DataFrame and 'date' is your column with dates
df['REF_DATE'] = pd.to_datetime(df['REF_DATE'], format='%Y-%m')

df["REF_YEAR"] = df["REF_DATE"].dt.year

clean_df = df.groupby(['REF_YEAR', 'Estimates']).sum()
# Set 'date' as index if it's not yet
#df.set_index('REF_DATE', inplace=True)

# Resample to yearly data, taking the mean of each year
# df_yearly = df.resample('Y').sum()


# df_yearly

C:\Users\Randg\AppData\Local\Temp\ipykernel_14868\3214271266.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df = df.groupby(['REF_YEAR', 'Estimates']).sum()

In [16]:
clean_df.reset_index(inplace=True)

In [17]:
clean_df

,REF_YEAR,Estimates,UOM_ID,SCALAR_ID,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1961,"Alcoholic beverages, tobacco and cannabis [C12]",324,24,59899,0.0,0.0,0.0,0
1,1961,Clothing and footwear [C13],324,24,31637,0.0,0.0,0.0,0
2,1961,Communications [C18],324,24,4147,0.0,0.0,0.0,0
3,1961,Education [C21],324,24,7312,0.0,0.0,0.0,0
4,1961,Food and non-alcoholic beverages [C11],324,24,152939,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
940,2023,Insurance and financial services [C23],81,6,124753,0.0,0.0,0.0,0
941,2023,Miscellaneous goods and services [C24],81,6,64466,0.0,0.0,0.0,0
942,2023,Net expenditure abroad [C25],81,6,1504,0.0,0.0,0.0,0
943,2023,Recreation and culture [C19],81,6,104858,0.0,0.0,0.0,0
944,2023,Transport [C17],81,6,175774,0.0,0.0,0.0,0